@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
}

:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #606ebf;
  --clr-6: #c2c4f2;
  --clr-7: #3c3e73;
  --clr-8: white;
  --clr-9: black;
}

body {
  background: var(--clr-5);
  overflow-y: hidden;
}

canvas {
  position: relative;
  background: url("./assets/images/Space.png") repeat 0 0;
  width: 100%;
  height: 90vh;
  animation: galaxy 50s linear infinite;
}

@keyframes galaxy {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100vh;
  }
}

#menu {
  position: absolute;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: SuperPixel, serif;
  align-items: center;
  top: 50%;
  left: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  gap: 20px;
}

#menu::after {
  content: "";

  position: absolute;
  inset: -0.5rem;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-4),
    var(--clr-7),
    var(--clr-4),
    var(--clr-7),
    var(--clr-4)
  );
  animation: rotation 20s linear infinite;
  border-radius: 1.5rem;
}

#titleMenu,
#contentMenu,
#startBtn {
  z-index: 2;
}

#contentMenu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--clr-8);
  text-shadow: 2px 2px 0 var(--clr-9);
  font-size: 30px;
  line-height: normal;
}

#startBtn {
  padding: 12px;
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--clr-5);
  position: relative;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 6px var(--clr-7);
  border: 1px solid var(--clr-7);
  text-shadow: 1px 1px 0 var(--clr-7);
}

#startBtn:hover {
  box-shadow: 0 4px var(--clr-7);
  top: 2px;
  color: var(--clr-8);
}

#startBtn:active {
  box-shadow: 0 0px var(--clr-7);
  top: 6px;
}

#titleMenu {
  font-size: 70px;
  text-shadow: 3px 3px 0 var(--clr-6);
}

#menu::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

#bottom-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10vh;
  /* width: 100vw; */

  background: var(--clr-5);
}

.data {
  font-size: 25px;
  margin-left: 1rem;
}

/* #tutorial {
  display: none;
   display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center; 
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
} */
#tutorial {
  display: none; /* Masquer la div par défaut */
  color: #fff; /* Couleur du texte lorsque la div est cachée */
  padding: 10px; /* Ajouter un peu de rembourrage pour la visibilité */
  position: absolute;
  top: 15%;
  left: 25%;
  height: 60%;
  width: 50%;
  z-index: 1; /* Assurez-vous que la div s'affiche au-dessus du conic gradient */
}

#tutorial::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-4),
    var(--clr-7),
    var(--clr-4),
    var(--clr-7),
    var(--clr-4)
  );
  animation: rotation 20s linear infinite;
  border-radius: 1.5rem;
  filter: blur(3.5rem);
}

#tutorial p {
  z-index: 1;
  margin: 3rem;
  display: flex;
  align-items: center;
  height: 2rem;
}

#tutorial img {
  padding: 1rem;
 
}
.move-img {
  transition: transform 2s; 
}

.move-img#arrow-left {
  animation: pressAnimationLeft 0.5s alternate infinite;
}
.move-img#arrow-right {
  animation: pressAnimationRight 0.5s alternate infinite;
}


@keyframes pressAnimationLeft {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0.9);
  }
}
@keyframes pressAnimationRight {
  from {
      transform: scale(0.9);
  }
  to {
      transform: scale(1);
  }
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 5.5s ease forwards;
}